In [1]:
import records

In [2]:
rec = records.Records("Bombus", interval=(1900, 1905))

In [3]:
kwargs = {"country": "CA", }
rec = records.Records("Bombus",(1900, 1905), **kwargs)

In [4]:
rec.df.shape

(167, 83)

In [5]:
rec.sdf.head()

              species  year country     stateProvince
0    Bombus sitkensis  1902  Canada  British Columbia
1    Bombus sitkensis  1903  Canada  British Columbia
2  Bombus rufocinctus  1903  Canada           Ontario
3    Bombus insularis  1902  Canada  British Columbia
4   Bombus flavifrons  1905  Canada  British Columbia

In [6]:
ep = records.Epochs("Bombus", 1900, 1960, 3, **{"country": "CA"})

In [7]:
ep.sdf.head()

            species  year  epoch country     stateProvince
0   Bombus fervidus  1900   1900  Canada           Ontario
1   Bombus borealis  1900   1900  Canada          Manitoba
2     Bombus vagans  1900   1900  Canada     New Brunswick
3  Bombus sitkensis  1901   1900  Canada  British Columbia
4   Bombus fervidus  1901   1900  Canada  British Columbia

In [8]:
ep.simpsons_diversity(by="stateProvince")

stateProvince
Alberta                      0.931118
British Columbia             0.895157
Manitoba                     0.824811
New Brunswick                0.838605
Newfoundland                 0.514364
Newfoundland and Labrador    0.782402
Northwest Territories        0.856733
Northwest Territory               NaN
Nova Scotia                  0.779297
Nunavut                      0.571049
Ontario                      0.862044
Prince Edward Island         0.640000
Quebec                       0.872687
Sakatchewan                  0.819375
Saskatchewan                 0.886108
Vancouver Island                  NaN
Yukon                        0.799447
Yukon Territory              0.888353
[Not Stated]                 0.444444
m                            0.489796
Name: species, dtype: float64

In [12]:
ep.df.to_csv("../data/Bombus-1900-1960-CA.csv")

In [13]:
ep = records.load_epochs_from_csv("../data/Bombus-1900-1960-CA.csv")

/Users/Sylvia/miniconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2850: DtypeWarning: Columns (5,18,36,37,44,46,47,51,52,57,94,96,98,100,109,111) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

In [14]:
ep.df.shape

(17752, 115)